<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
   <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="connection.url">jdbc:mysql://localhost:3306/et</property>
   <property name="connection.username">root</property>
   <property name="connection.password">1314159</property>
   <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property> 
   <property name="hbm2ddl.auto">update</property>
   <mapping resource="com/etwebservice/xml/contact.hbm.xml"/>
   <mapping resource="com/etwebservice/xml/employ.hbm.xml"/>
   <mapping resource="com/etwebservice/xml/firstpage.hbm.xml"/>
   <mapping resource="com/etwebservice/xml/introduction.hbm.xml"/>
   <mapping resource="com/etwebservice/xml/news.hbm.xml"/>
   <mapping resource="com/etwebservice/xml/service.hbm.xml"/>
   <mapping resource="com/etwebservice/xml/team.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
