<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>etwebservice</display-name>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  
  <servlet>
  	<description>JAX-WS endpoint - ETIntroductionService</description>
  	<display-name>ETIntroductionService</display-name>
  	<servlet-name>ETIntroductionService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>JAX-WS endpoint - ETNewsService</description>
  	<display-name>ETNewsService</display-name>
  	<servlet-name>ETNewsService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
 
  <servlet>
  	<description>JAX-WS endpoint - FirstPageImageService</description>
  	<display-name>FirstPageImageService</display-name>
  	<servlet-name>FirstPageImageService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>JAX-WS endpoint - ETTeamService</description>
  	<display-name>ETTeamService</display-name>
  	<servlet-name>ETTeamService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>JAX-WS endpoint - ETContactService</description>
  	<display-name>ETContactService</display-name>
  	<servlet-name>ETContactService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>JAX-WS endpoint - ETemployService</description>
  	<display-name>ETemployService</display-name>
  	<servlet-name>ETemployService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>JAX-WS endpoint - ETServiceService</description>
  	<display-name>ETServiceService</display-name>
  	<servlet-name>ETServiceService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ETServiceService</servlet-name>
  	<url-pattern>/ETServicePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ETemployService</servlet-name>
  	<url-pattern>/ETemployPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ETContactService</servlet-name>
  	<url-pattern>/ETContactPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ETTeamService</servlet-name>
  	<url-pattern>/ETTeamPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstPageImageService</servlet-name>
  	<url-pattern>/FirstPageImagePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ETNewsService</servlet-name>
  	<url-pattern>/ETNewsPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ETIntroductionService</servlet-name>
  	<url-pattern>/ETIntroductionPort</url-pattern>
  </servlet-mapping>

  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener></web-app>